/** Autocomplete **/
.autocomplete-suggestion {
    position: absolute;
    top: 40px;
    width: 100%;
    max-height: 300px;
    overflow: auto;
    box-shadow: 0px 8px 10px 0px rgba(0, 0, 0, 0.1);
    border: 1px #ccc solid;
    z-index: 5;
}

.autocomplete-suggestion .list-group {
    margin: 0;
    cursor: pointer;
}

.autocomplete-suggestion .list-group-item {
    border-radius: 0 !important;
}

.mark { background-color: #4197E0; padding: 0 3px; border-radius: 3px; }