*, *:before, *:after {
    box-sizing: border-box;
}

html, body {
    padding: 0;
    margin: 0;
}

body {
    margin-top: 120px;
    margin-bottom: 50px;
    background-color: #f0f0f0;
}

body, input, .btn {
    font-family: Verdana;
    font-size: 12px;
    color: #444;
}

small {
    font-size: 16px;
    color: #888;
}

h1 {
    margin: 20px 10px;
    padding: 5px 8px;
    border-bottom: 1px #ccc solid;
}
h2 { margin-left: 30px; }

input[type="text"], input[type="password"], select {
    padding: 8px 5px;
    margin: 0;
    border: 1px #ccc solid;
}

label { font-weight: bold; }

.right { float: right; }
.left { float: left; }
.row {
    margin: 0 -10px;
}

.btn {
    display: inline-block;
    padding: 10px;
    margin: 0px 5px;
    border: none;
    text-decoration: none;
    background-color: #fafafa;
}

.btn, .btn-group {
    border: 1px #ccc solid;
}

.btn-group {
    margin: 0 5px;
}

.btn-group .btn {
    float: left;
    margin: 0;
    border: 0;
}

.input-group {
    margin: 20px 10px;
    padding: 0;
}

.input-group label {
    height: 40px;
    line-height: 40px;
    padding: 0 10px;
}

.input-group .btn, .input-group input, .input-group label, .input-group select {
    display: inline-block;
    position: relative;
    height: 40px;
    margin: 0;
    width: 100%;
}

.input-group .btn, .input-group input, .input-group select {
    border: 1px #ccc solid;
    background-color: #fafafa;
    border-right: 0;
}

.input-group .control-label {
    background-color: #51677a;
    color: #fff;
}

.input-group div {
    padding: 0 !important;
}

.input-group div:nth-last-child(1) {
    border-right: 1px #ccc solid;
}

.input-group .input input {width: 100%; }

.text-success { color: #0c9b24; }
.text-failed { color: #a00808; }

.btn:hover {
    background-color: #ddd;
}

.table {
    width: 100%;
    background-color: #fff;
    border-collapse: collapse;
}

.table th, .table td {
    text-align: left;
    padding: 5px 0px 5px 8px;
}

.table td input[type="text"], .table td input[type="password"] {
    width: 100%;
}

.table-hover tbody tr:hover {
    background-color: #eaeaea;
    cursor: default;
}

.table-border {
    border: 1px #51677a solid;
}

.table-striped th {
    background-color: #51677a;
    font-weight: normal;
    color: #fff;
}

.table-striped tr:nth-child(2n + 1) {
    background-color: #eee;
}

.table-striped tr:nth-child(2n) {
    background-color: #fff;
}

.table-fixed {
    table-layout: fixed;
    width: 100%;
}

.table .small {
    width: 125px;
}

.rooster {
    overflow-x: auto;
}

.table-rooster {
    border: 0;
    border-top: 1px #ccc solid;
    border-bottom: 1px #ccc solid;
    box-shadow: 0px 5px 30px 0px rgba(0, 0, 0, 0.2);
}

.table-rooster thead th {
    background-color: #51677a;
    color: #fff;
}

.table-rooster thead th {
    margin-right: 30px;
    border-left: 1px #51677a solid;
}

.table-rooster th:nth-child(1){
    width: 40px;
    text-align: center;
    font-size: 16px;
    font-weight: bold;
}

.table-rooster td:nth-child(1) {
    font-weight: normal;
}

.table-rooster thead td:nth-child(10n + 2), .table-rooster .border-left, .table-rooster .les-vrij {
    border-left: 1px #ccc solid;
}

.table-rooster h3 {
    font-weight: normal;
    margin: 0px;
    text-align: center;
}

.table-rooster tbody td {
    vertical-align: top;
    text-align: center;
    padding: 30px 3px;
    min-width: 15px;
    white-space: nowrap;
    font-family: "Arial Narrow";
    font-size: 15px;
}

.table-rooster select {
    margin: 0 -10px -20px -10px;
}

.table-rooster td .first-day {
    width: 10px;
    border-right: 1px #51677a solid;
}

.table-rooster tbody td:hover {
    background-color: #bbb;
}

.table-rooster .toets-vrij {
    color: #111;
}

.table-rooster .les-vrij {
    text-align: center !important;
    color: #c13017;
    font-weight: bold;
}

.table-rooster .toets {
    position: relative;
    color: #000;
    background-color: #eee;
}

.table-rooster .toets-tooltip {
    display: none;
    position: absolute;

    top: 60px;
    left: -100px;
    width: 200px;
    height: auto;
    padding: 10px;

    overflow:hidden;
    background-color: #fff;
    box-shadow: 0px 3px 20px 0px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    border: 1px #ccc solid;
    white-space: normal;

    z-index: 5;
}

.table-rooster .toets:hover .toets-tooltip {
    display: block;
}

#header {
    position: fixed;
    top: 0px;
    min-width: 850px;
    width: 100%;
    height: 100px;
    background-color: #fff;
    z-index: 999;
}

#header .header-info {
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 40px;
    line-height: 40px;
    padding: 0 40px;
}

#header .header-name, #header .page-info {
    display: inline-block;
    margin: 0;
}

#header .header-name {
    float: right;
}

#header .menu-btn-group {
    display: inline-block;
    position: absolute;

    bottom: 0;
    background-color: #16456f;
    box-shadow: 0px 3px 25px 1px rgba(0, 0, 0, 0.4);
    width: 100%;
}

#header .menu-btn-group .btn-group {
    margin: 0;
    border: 0;
}

#header .menu-btn-group .btn-group .btn {
    background: none;
    color: #fff;
    border: 0px #16456f solid;
    padding: 10px 20px;
    font-size: 14px;
}

#header .menu-btn-group .btn-group .active {
    color: #16456f;
    background: #fafafa;
}

#footer {
    display: block;
    position: fixed;
    width: 100%;
    bottom: 0;
    background-color: #555;
    padding: 10px;
    color: #fff;
}

.content {
    display: inline-block;
    width: 100%;
    padding: 10px 20px;
}

.overzicht .table {
    width: 100%;
}

.overzicht .table th.actions,
.overzicht .table th.date {
    width: 200px;
}

.overzicht .info { width: 20%; }

.list-group {
    display: block;
    padding: 0;
    background: #fafafa;
}

.list-group-item {
    list-style: none;
    padding: 8px 5px;
    margin: 0;
}

.message-balloon {
    display: block;
    position: absolute;
    top: 0;
    left: calc((100% - 350px) / 2);
    height: auto;
    width: 350px;
    padding: 10px 20px;
    border: 1px #ccc solid;
    background-color: #fafafa;
    border-radius: 10px;
    box-shadow: 0px 8px 25px 0px rgba(0, 0, 0, 0.2);
    opacity: 0;
    z-index: 1;
}

.xs-fixed {
    width: 50px;
}

.sm-fixed {
    width: 100px;
}

.md-fixed {
    width: 200px;
}

.lg-fixed {
    width: 400px;
}

.auto-width {
    display: inline-block;
    padding: 0 10px;
}

/** CSS OLD **/

div.page {
    writing-mode: tb-rl;
    width: 100%;
    height: 100%;
    margin: 10% 0%;
}
